<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><i class="fa fa-file-pdf-o"></i> PDF
      Dashboard</a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="icon-bar"></span>
        <span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation"><a href="#">Item</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  {{diagnostic}}
  <h1>Hero Form</h1>
  <form (ngSubmit)="uploadPdf()" class="bootstrap-form-with-validation">
    <div class="form-group">
      <label>Vendor</label>
      <select class="form-control" (change)="changeSelectedVehicle($event.target.value)">
        <option *ngFor="let vehicle of vehicles" [value]="vehicle.vendor">{{vehicle.vendor}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Model</label>
      <select class="form-control" id="model" required>
        <option *ngFor="let model of selectedVehicle.models" [value]="model">{{model}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="file-input">File Input</label>
      <input type="file" name="file-input" id="file-input"
             (change)="fileChange($event)" placeholder="Upload file" accept=".pdf">
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Upload</button>
    </div>
  </form>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h4>Converted Docs:</h4></div>

      <div *ngFor="let con of converted">
        <p>{{con.name}} :
          {{con.numberOfPages}} pages</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="page-header">
        <h4>Documents in process </h4></div>
      <div class="row">
        <div *ngFor="let document of documents">
          <div class="col-md-6">
            <div class="panel panel-default">

              <div class="panel-heading">
                <h3 class="panel-title">{{document.docName}} progress:</h3></div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <p>Pages</p>
                  </div>
                  <div class="col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" aria-valuenow="document.pagesProgress"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="document.pagesProgress + '%'"><span>{{document.pagesProgress}}%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <p>Images</p>
                  </div>
                  <div class="col-md-9">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" aria-valuenow="document.imagesProgress"
                           aria-valuemin="0" aria-valuemax="100" [style.width]="document.imagesProgress + '%'"><span>{{document.imagesProgress}}%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <p>Text</p>
                  </div>
                  <div class="col-md-9">
                    <div class="progress">
                      <div class="progress-bar" aria-valuenow="document.textProgress" aria-valuemin="0"
                           aria-valuemax="100" [style.width]="document.textProgress + '%'"><span>{{document.textProgress}}%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div ng-show="document.errors!=null"><a class="btn btn-danger btn-block btn-xs collapsed" data-toggle="collapse"
                            aria-expanded="false" aria-controls="collapse-1" role="button"
                            href="#collapse-1">Errors </a>
                      <div class="collapse" id="collapse-1" aria-expanded="false" style="height: 0px;">
                        <p>{{document.errors}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
